
@veneer:registry=https://nexus.azc.ext.hp.com/repository/veneer/
//nexus.azc.ext.hp.com/repository/veneer/:username=veneer.user
//nexus.azc.ext.hp.com/repository/veneer/:_password=VjNuZWVydXNlciEx
//nexus.azc.ext.hp.com/repository/veneer/:email=
//nexus.azc.ext.hp.com/repository/veneer/:always-auth=true

